.ionButton {
  color: white;
}

.btnMenu {
  color: white;
}
// color blanco para el boton atras solo ios
.sc-ion-back-button-ios-h {
  --color: white;
}

.back-button-icon-ios {
  color: white;
}

.ios {
  .ionBtnSend {
    --color: white;
  }
}

.menuDetalleOrden {
  color: white;
}

.tituVouch {
  font-size: 140%;
}

.tituloMenu {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0%;
}
.titPrinc {
  text-align: center;
}
.tit1Princ {
  text-align: center;
}

.avatar {
  width: 40%;
  margin: auto;
}

.logoAgencia {
  margin-top: 3%;
  max-width: 35%;
  margin-left: 32%;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: baseline;
}

.btnPdfBrowser {
  margin: 0%;
}

.ioconPdfBrowser {
  font-size: 170%;
  margin-top: -50%;
  padding-top: 0%;
}

.tit2Vouc {
  text-align: center;
  font-size: 100%;
}

.ionGrid {
  margin: 0%;
  padding: 0%;
  .ionRow {
    margin: 0%;
    padding: 0%;
    .ionCol {
      margin: 0%;
      padding: 0%;
      font-size: 94%;
    }
  }
}

.tituDC {
  text-align: center;
  font-size: 100%;
}

.nDias {
  text-align: center;
}

.pTerritorio {
  text-align: center;
}

.iconPlan {
  font-size: 175%;
  color: green;
  margin-top: -5px;
  padding-top: -5px;
}

.buttonDetalle {
  color: white;
}

.buttonEnvio {
  color: white;
}

.buttonEnvio {
  color: white;
}

.cardVouc {
  background: rgb(185, 185, 185);
}

.pConfirmacion {
  text-align: center;
}

.pTelefPasj {
  margin-top: 0%;
}

.btnTelefPasj {
  color: white;
}

.titleAlert {
  text-align: center;
  align-content: center;
  align-items: center;
}

.btnWsEmerg {
  margin-top: -5px;
  padding: 0%;
}

.divRaiders {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
