.menu {
  color: white;
  text-align: center;
}

.tituloMenu {
  color: white;
  position: relative;
  margin: 0%;
  padding: 0%;
}

.cerrarIcon {
  text-align: right;
  align-content: right;
  align-items: right;
  position: relative;
  margin-left: 35%;
}

.contentPopover {
  padding-left: 3%;
  margin-right: 3%;
}

.parrafoSmsPopover {
  text-align: justify;
  font-size: 90%;
  margin-left: 2%;
  margin-right: 2%;
}

.pEjemTel {
  text-align: center;
}

.divButton {
  text-align: center;
}

.buttonEnv {
  color: white;
}
