.alertaModal {
  text-align: center;
}
.h1Modal {
  text-align: center;
}

.iconCerrar {
  font-size: 300%;
  color: #e30000;
}

.iconBuscar {
  font-size: 300%;
  color: rgb(38, 227, 0);
  text-align: right;
}

.divButtons {
  text-align: center;
}

.labelFechas {
  align-content: center;
  align-items: center;
  text-align: center;
}

.btnFechas {
  color: white;
}
