.tituloMenu {
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 0%;
}

.divBtn {
  align-items: center;
  text-align: center;
}

.textoEmisionOk {
  align-items: center;
  text-align: center;
}

.colInfoTextTelf {
  text-align: justify;
}

.tituloSegmento {
  align-items: center;
  text-align: center;
  border-top: 1px solid;
}

.colInfo {
  align-items: center;
  text-align: center;
}

.btnFondo {
  color: white;
  --background: var(--transparente);
}

.iconEmision {
  font-size: 400%;
}

.btnWs {
  margin-top: -5px;
  padding: 0%;
}

.divRaiders {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-right: 8%;
  margin-left: 8%;
}

.divAvisoStatusOrden {
  border-bottom: 1px solid;
}

.seccion {
  align-items: center;
  text-align: center;
  color: white;
}
