.toolbarTitle {
  margin: 0%;
  padding: 0%;
}

.navbarTitle {
  text-align: center;
  color: white;
  margin: 0%;
  padding: 0%;
  font-weight: bold;
}

.contentPopover {
  padding-left: 3%;
}

.PBeneficios {
  text-align: center;
}

.btnBeneficios {
  color: white;
}

.divUpgrades {
  margin: 6% 0% 6% 0;
  border-bottom: 1px solid;
}
