.btnMenu {
  color: white;
}

.menuLogin {
  color: white;
}

.divLogo {
  margin-top: 10%;
  text-align: center;
}

.imgLogo {
  width: 60%;
}

.tituloMenu {
  text-align: center;
  color: white;
  font-weight: bold;
}

.spinnerLogoAgencia {
  align-content: center;
  text-align: center;
  align-items: center;
  position: relative;
}

ion-card {
  position: relative;
  text-align: center;
  image-rendering: auto;
  margin: 0%;
  padding: 0%;
}

.card-title {
  position: absolute;
  top: 70%;
  left: 34%;
  align-content: center;
  image-rendering: auto;
  font-size: 2em;
  width: 30%;
  font-weight: bold;
  color: #fff;
}

.h6Aviso {
  text-align: center;
  color: #488aff;
}

.btnLogueo {
  color: white;
}
