.menu {
  color: white;

  .tituloMenu {
    text-align: center;
    font-weight: bold;
  }
  .btnMenu {
    color: white;
  }
}

.refresher {
  background: var(--fondo-bug);
}

.logoAgencia {
  margin-top: 3%;
  max-width: 35%;
  margin-left: 32%;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: baseline;
}

.tituloBuscar {
  text-align: center;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  padding: 0%;
  font-weight: bold;
}

.fechas {
  height: -50%;
}

.btnBuscar {
  text-align: center;
}

.pFechasInicales {
  text-align: center;
}

.noResult {
  text-align: center;
  font-weight: bold;
}

.tituloLabel {
  font-weight: bolder;
}

.divGrafico1 {
  //  margin-bottom: 15%;

  .grafica1 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }

  #tablaGrafica1 {
    align-content: center;
    text-align: center;
  }
}

.divGrafico2 {
  //  margin-bottom: 15%;

  .grafica2 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.divGrafico3 {
  //  margin-bottom: 15%;

  .grafica3 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.divGrafico4 {
  //  margin-bottom: 15%;

  .grafica4 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.divGrafico5 {
  //  margin-bottom: 15%;

  .grafica5 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.divGrafico6 {
  //  margin-bottom: 15%;

  .grafica6 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.divGrafico7 {
  //  margin-bottom: 15%;

  .grafica7 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.divGrafico8 {
  //  margin-bottom: 15%;

  .grafica8 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.divGrafico9 {
  //  margin-bottom: 15%;

  .grafica9 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.divGrafico10 {
  //  margin-bottom: 15%;

  .grafica10 {
    min-width: 50%;
    max-width: 100%;
    align-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    display: block;
    margin: 0 auto;
  }
}

.menuGrafica {
  width: 100%;
  height: 400%;
  position: fixed;
}
