.logoIls {
  width: 20%;
}

.tituloMenu {
  text-align: center;
}

.titulo {
  text-align: center;
  color: #0e1575;
}

.refresher {
  background: var(--fondo-bug);
}

.spinnerLoad {
  align-content: center;
  text-align: center;
}

.listButton {
  margin-bottom: 0%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.avatar {
  text-align: center;
  align-content: center;
  align-items: center;
}

.spinnerImg {
  position: absolute;
  text-align: center;
  align-content: center;
  align-items: center;
  padding-left: 11%;
  padding-top: 11%;
}

.imgAvatar {
  border: 1px solid #0e1575;
}

.pTituloAgente {
  position: fixed;
  margin: 0%;
  padding-left: 18%;
}

.pError {
  text-align: center;
}
.spinner {
  display: block;
  margin: auto;
}
